<main>
  <div class="container">
    <p style="font-size:25px; font-weight:bold;">Feel overwhelmed by your never-ending to-do list? Don't worry, we've got you covered. </p>
    <hr>
    <div class="row">
      <div class="col-md-6">
      <p style="font-weight:bold">Add Task</p>
       You're free to add new tasks to your to-do list whenever
       you need to. This feature allows you to expand your list
       by inputting the title and details of the task.
      </div>
      <div class="col-md-6">
      <img style="height:120px;border-radius:50%"
       src="assets/addtask.jpg" alt="pic">
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
      <img style="height:120px;border-radius:50%"
       src="assets/addsub.jpg" alt="pic">
      </div>
      <div class="col-md-6">
      <p style="font-weight:bold">Add Subtask</p>
      Break down larger tasks into smaller, manageable subtasks. This
      feature helps you organize your tasks more effectively and tackle
      complex projects with step-by-step progress tracking.
      </div>
    </div>
    <div class="row">

      <div class="col-md-6">
      <p style="font-weight:bold">Complete Task</p>
      Once you've finished a task, mark it as complete.
      This helps you keep track of what you've accomplished and what's
      still pending on your list.
      </div>
      <div class="col-md-6">
      <img style="height:120px;border-radius:50%"
       src="assets/completetask.jpg" alt="logo">
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
      <img style="height:120px;border-radius:50%"
       src="assets/undo.webp" alt="logo">
      </div>
      <div class="col-md-6">
      <p style="font-weight:bold">Undo Complete</p>
      If you accidentally mark a task as complete or change
      your mind, you can easily undo the completion status. This gives you
      the flexibility to manage your tasks the way you want.
      </div>
    </div>
    <hr>
  </div>
</main>
