<main>
  <div class="container">
    <hr>
    <div class="content" style="text-align:center">
    <div>
    <p>Drop us a line</p>
    <i class="fab fa-whatsapp fa-3x"></i></div><br>
    <div>
      <p> Talk to us </p>
      <i class="fab fa-instagram fa-3x"></i>
    </div><br>
    <div>
      <p> Find Us</p>
    <i class="fas fa-map-marker-alt fa-3x">
      <h6>Moi Avenue,Wing road</h6></i>
    </div><br>
    <div>
      <p>Let's connect</p>
    <i class="fas fa-phone fa-3x"></i>
    </div><br>

    <div>
      <p>Get in touch</p>
      <i class="far fa-envelope fa-3x"></i>
    </div><br>
  </div><hr>
  </div>
</main>
