<style>
  .logo{
    border-radius: 50%;height: 100px;
  }
  main{
    background-color:#DEE0DD;
  }

  img{
    height: 600px;
    border-radius: 50%;
  }
  button{
    background-color:salmon;
    border-color: transparent;
    border-radius: 10px;
  }

</style>

<main class="main">
  <div class="container">
  <div class="content">
    <div>
      <nav style="text-align:center;">
        <img class="logo" src="assets/logo.jpg" alt="Logo">
          <a routerLink="/tasks">Home</a>
          <a routerLink="/about">Features</a>
          <a routerLink="/contact">Contact</a>
          <a routerLink="/about">Sign In</a>
      </nav>
    </div>
    <hr>
    <div class="content">
      <h1 style="text-align:center">Take control of your work and personal life</h1><br>
      <button (click)="navigateToSignUp()">GET STARTED</button><br>
      <img style="text-align:center" src="assets/hero.jpg" alt="herosection">
    </div>
    <div class="row">
      <div class="col-md-6">
        <h5 style="text-align:center">Add Task</h5>
          Easily input new tasks into your to-do list, ensuring nothing
          slips through the cracks.
      </div>
      <div class="col-md-6">
        <h5 style="text-align:center">Add subtask</h5>
            Break down larger tasks into smaller, manageable subtasks,
            helping you tackle complex projects with ease.
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <h5 style="text-align:center">Complete Task</h5>
            Mark tasks as complete with a simple click or tap, keeping your
            list organized and up-to-date.
      </div>
      <div class="col-md-6">
        <h5 style="text-align:center">Undo Complete</h5>
            Accidentally marked a task as complete? No worries! Quickly undo
            the action and restore the task to its previous state.
      </div>
    </div>

  </div>

</div>
</main>






<router-outlet />
