<style>
  .logo{
    border-radius: 50%;height: 100px;
  }
  main{
    background-color:#DEE0DD;
  }

  img{
    height: 600px;

  }
  button{
    background-color:salmon;
    border-color: transparent;
    border-radius: 10px;
  }
  .navbar {
    display: flex;
    justify-content: space-between;
  }

</style>









<main>
  <div class="container">
    <hr>
    <form style="margin-top:200px;margin-bottom:250px; height:300px;border:1px solid black">
      <legend>Sign Up</legend>
      <label for="username">Username</label><br>
      <input type="text"><br>
      <label for="email">Email</label><br>
      <input type="email" name="email"><br>
      <label for="password">Password</label><br>
      <input type="password" name="password"><br>
      <button>SIGN UP</button><br>
      <a href="#">I'm a member. Login</a>
    </form>
    <hr>
  </div>
</main>
